<?xml version="1.0"?>
<root xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="d415_realsense_gazebo"
  params="prefix color_width color_height color_update_rate depth_update_rate">

  <gazebo reference="${prefix}camera_color_frame">
    <sensor type="depth" name="${prefix}">
      <always_on>true</always_on>
      <update_rate>${color_update_rate}</update_rate>
      <camera>
        <horizontal_fov>${69.4*pi/180.0}</horizontal_fov>
        <image>
          <!-- openni_kinect plugin works only with BGR8 -->
          <format>R8G8B8</format>
          <width>${color_width}</width>
          <height>${color_height}</height>
        </image>
        <clip>
          <near>0.05</near>
          <far>50.0</far>
        </clip>
        <!-- Noise is sampled independently per pixel on each frame.
             That pixel's noise value is added to each of its color
             channels, which at that point lie in the range [0,1]. -->
        <!--<noise>
         <type>gaussian</type>
         <mean>0.0</mean>
         <stddev>0.007</stddev>
       </noise>-->
      </camera>
      <plugin name="${prefix}realsense_controller" filename="libgazebo_ros_openni_kinect.so">
        <cameraName>${prefix}camera</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>${depth_update_rate}</updateRate>
        <imageTopicName>color/image_raw</imageTopicName>
        <depthImageTopicName>aligned_depth_to_color/image_raw</depthImageTopicName>
        <pointCloudTopicName>depth_registered/points</pointCloudTopicName>
        <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>aligned_depth_to_color/camera_info</depthImageCameraInfoTopicName>
        <frameName>${prefix}camera_color_optical_frame</frameName>
        <baseline>0.1</baseline>
        <distortion_k1>0.0</distortion_k1>
        <distortion_k2>0.0</distortion_k2>
        <distortion_k3>0.0</distortion_k3>
        <distortion_t1>0.0</distortion_t1>
        <distortion_t2>0.0</distortion_t2>
        <pointCloudCutoff>0.16</pointCloudCutoff>
        <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <!-- setting hackBaseline to anything but 0.0 will cause a misalignment
            between the gazebo sensor image and the frame it is supposed to
            be attached to -->
        <hackBaseline>0.0</hackBaseline>
      </plugin>
    </sensor>
  </gazebo>
</xacro:macro>

</root>

